.app {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100vw;
    min-height: 100vh;
    background-color: #fff4f4;

    header {
        padding: 0.2rem;
        font-family: "TreasureMap", sans-serif;
        font-size: 2rem;
        color: goldenrod;
        position: sticky;
        top: 0;
        z-index: 100;

        width: inherit;
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: #4053e3;

        .title {
            margin: 0 !important;
        }
    }

    .card__sections {
        display: flex;
        justify-content: space-evenly;

        flex-wrap: wrap;
        gap: 3rem;
        padding: 2.5rem;
    }
}

.section {
    flex: 0 1 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
}

.card__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 3px;
    position: relative;
    z-index: 10;

    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.75);

    position: relative;
    min-width: 300px;
    min-height: 550px;

    .section__top {
        display: flex;
        flex-direction: column;
        align-items: center;

        .team__name {
            margin: 1rem;
        }

        .qrcode {
            margin: 2rem 0;
            transition: all 0.3s ease;

            box-shadow: -1px 1px 13px 3px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: -1px 1px 13px 3px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: -1px 1px 13px 3px rgba(0, 0, 0, 0.3);
        }

        .card__code {
            margin-top: -1rem;
            font-size: 0.7rem;
        }

        .medal {
            margin: 2rem 0;
            width: 50px;

            position: absolute;
            right: 0;
            top: -2rem;
        }

        .treasure {
            margin: 2rem 0;
            height: 220px;
            max-width: 240px;
            object-fit: contain;
        }

        .progress {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1rem;
            flex-wrap: wrap;

            .progress__indi {
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 50%;
                margin: 0.5rem;
                padding: 0;
                background-color: #d20909;
                transition: 0.5s ease;

                font-size: 0.8rem;
                font-weight: 500;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;

                border: 1px solid rgba(0, 0, 0, 0.2);
                box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
                -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
            }
        }
    }

    .section__bottom {
        .toggle {
            display: flex;
            justify-content: space-between;
            margin: 0 1.7rem;

            button {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 0.2rem;
                font-size: 1.5rem;
                position: relative;
                height: 2rem;
                width: fit-content;
                background-color: #4b88e2;
                color: white;
                outline: 0;
                border: 1px solid #1558bc;
                border-radius: 3px;

                box-shadow: 0px 0px 18px -3px rgba(0, 0, 0, 0.75);
                -webkit-box-shadow: 0px 0px 18px -3px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 0px 0px 18px -3px rgba(0, 0, 0, 0.75);

                span.prev {
                    font-size: 0.8rem;
                    transform: translateY(10%);
                    margin-left: 5px;
                }

                span.next {
                    font-size: 0.8rem;
                    transform: translateY(10%);
                    margin-right: 5px;
                }

                &:active {
                    box-shadow: 0px 0px 17px -3px rgba(0, 0, 0, 0.75) inset;
                    -webkit-box-shadow: 0px 0px 17px -3px rgba(0, 0, 0, 0.75) inset;
                    -moz-box-shadow: 0px 0px 17px -3px rgba(0, 0, 0, 0.75) inset;
                }
            }
        }

        .team__members {
            margin: 2rem;
        }
    }
}

.notes {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    z-index: 0;
    width: 95%;
    padding: 0.5rem;
    background-color: #e6d6f0;

    .notes__list {
        margin: 0.2rem 1rem;

        .note {
            padding: 0.3rem 0;
            border-bottom: 1px solid gray;

            width: 100%;

            display: flex;
            justify-content: space-between;

            p {
                // overflow-wrap: break-word;
                // word-wrap: break-word;
                // white-space: pre-wrap;
                word-break: break-all;
            }

            span {
                cursor: pointer;
                padding: 0 0.2rem;
                font-weight: 700;
            }
        }
    }

    .notes__add {
        cursor: pointer;
        display: flex;
        align-items: center;
        margin: 0.2rem 0.8rem;
        padding: 0.2rem;
        transition: all 0.3s ease;

        p {
            margin-left: 0.5rem;
        }

        &:hover {
            transform: scale(1.01);
            box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.75);
        }
    }

    .edit__note {
        margin: 0.5rem 1rem;

        .note__text {
            width: 100%;
            padding: 0.2rem 0.3rem;
            outline: 0;
        }
    }
}
